<div class="cui-tile">
  <div class="cui-tile__title">Cui-Tree-Alternative</div>
  <div class="cui-tile__body">
  	    <!-- Cui-Tree -->
		<div class="cui-tree-alt" cui-tree-alt="cuiTreeAdvanced.tree" 
			cui-tree-alt-leaf-display="object.id + '. ' + object.text"
			cui-tree-alt-branch-wrapper="<div class='cui-tree-alt__branch'></div>" 
			cui-tree-alt-leaf-wrapper="<div class='cui-tree-alt__leaf'></div>" 
			cui-tree-alt-nest-prefix="cui-tree-alt--nesting-" 
			cui-tree-alt-nest-x-class="cui-tree-alt--nested" 
			cui-tree-alt-nest-0-class="cui-tree-alt--nesting-0" 
			cui-tree-alt-last-leaf-class="cui-tree-alt__leaf--last" 
			cui-tree-alt-last-branch-class="cui-tree-alt__branch--last" 
			cui-tree-alt-leaf-click-callback="cuiTreeAdvanced.leafClickCallback"
			cui-tree-alt-toggle-expand-callback="cuiTreeAdvanced.toggleExpand">
		</div>
  </div>
</div>